.whole {
  /* height: 100vh; */
  position: relative;
}

.theme {
  margin: 0;
  text-align: center;
  font-size: 45px;
}

.start {
  display: flex;
  position: fixed;
  inset: 0;
}

.bo {
  display: block;
  margin: auto;
  padding: 1rem 1rem;
  font-weight: bold;
  border: 4px solid #000;
  color: #000;
  font-size: 25px;
  border-radius: 1rem;
}

.entire{
  height: 100vh;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000000;
  text-decoration: none;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  background: linear-gradient(#67a7cc, #c0c0c0);
  text-align: center;
}

.question {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.que {
  margin: 0;
}

.hako {
  display: flex;
  justify-content: space-around;
}

.choice {
  width: 40%;
  word-wrap: break-word;
}
