.entire{
  height: 100vh;
  background: #eee;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000000;
  text-decoration: none;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  background: linear-gradient(#FFA500, #eee);
  text-align: center;
}

.question {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.hako {
  display: flex;
  justify-content: space-around;
}

.choice {
  width: 40%;
  word-wrap: break-word;
}

/* フッター */
/* 参照:https://asbgm.com/332/ */
/* アイコンの引用:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
/* メニューをページ下部に固定 */
.fixed_footer_menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 100;
}

/* メニューを横並びにする */
.fixed_footer_menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

/* メニューの要素 */
.fixed_footer_menu li {
  justify-content: center;
  align-items: center;
  width: 100%; /* 要素が5つの場合20%（100/5） */
  padding: 0;
  margin: 0;
}

/* メニューのボタン */
.fixed_footer_menu li a {
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0px 0px 0px;
  font-size: 8px;
  text-decoration: none;
}

/* メニュータイトル */
.fixed_footer_menu li p {
  font-size: 8px; /* メニュータイトルのフォントサイズ */
}

/* アイコンのサイズを調整 */
.footer_icon {
  font-size: 20px;
}
