.fixed_display{
  position:fixed;
  width: 100%;
}

.entire{
  height: 100vh;
  /* background: #eee; */
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000000;
  text-decoration: none;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  background: linear-gradient(#FFA500, #eee);
  text-align: center;
}

.question {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.hako {
  display: flex;
  justify-content: space-around;
}

.choice {
  width: 40%;
  word-wrap: break-word;
}

.correct {
  color: #ff0000;
}

.incorrect {
  color: #0000ff;
}

/* フッター */
/* 参照:https://asbgm.com/332/ */
/* アイコンの引用:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
/* メニューをページ下部に固定 */
.fixed_footer_menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 100;
}

/* メニューを横並びにする */
.fixed_footer_menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

/* メニューの要素 */
.fixed_footer_menu li {
  justify-content: center;
  align-items: center;
  width: 100%; /* 要素が5つの場合20%（100/5） */
  padding: 0;
  margin: 0;
}

/* メニューのボタン */
.fixed_footer_menu li a {
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0px 0px 0px;
  font-size: 8px;
  text-decoration: none;
}

/* メニュータイトル */
.fixed_footer_menu li p {
  font-size: 8px; /* メニュータイトルのフォントサイズ */
}

/* アイコンのサイズを調整 */
.footer_icon {
  font-size: 20px;
}

/* 解答後画面 */
.scrolldown {
  position: fixed;
  bottom: 100px;
  left: 50%;
}

.scrolldown span {
  position: absolute;
  left: 10px;
  bottom: 40px;
  color: #c0c0c0;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c0c0c0;
  animation:
    circlemove 1s ease-in-out infinite,
    cirlemovehide 1s ease-out infinite;
}

@keyframes circlemove {
  100% {
    bottom: 95px;
  }

  0% {
    bottom: -5px;
  }
}

.scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100px;
  background: #c0c0c0;
}

/* 問題表示画面 */
.scrollbeside {
  position: fixed;
  bottom: 100px;
  left: 50%;
}

.scrollbeside span {
  position: absolute;
  left: -15px;
  bottom: 60px;
  color: #c0c0c0;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.scrollbeside:before {
  content: "";
  position: absolute;
  bottom: 45px;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c0c0c0;
  animation:
    circlemove1 0.5s linear infinite;
  animation-direction: alternate;
}

@keyframes circlemove1 {
  0% {
    left: -50px;
  }

  100% {
    left: 50px;
  }
}

.scrollbeside:after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: -45px;
  width: 100px;
  height: 2px;
  background: #c0c0c0;
}
